.bt-action{
	-fx-background-color:  #8a1000;
	-fx-text-fill: #FFFFFF;
	-fx-pref-width: 170px;
	-fx-pref-height: 40px;
	-fx-font-size: 18px;
	-fx-font-weight: bold;
	-fx-text-align: center;
}
.tts-head{
	-fx-font-size: 20px;
	-fx-font-weight: bold;
	-fx-text-fill: #8a1000;
}